.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
}

.form__button {
  background-color: #1878dc;
  color: #fff;
}

.form__button:hover {
  background-color: #3f96f3;
}
