.reservation {
  padding: 100px 80px 120px;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 auto 80px;
  max-width: 385px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
}
